.pageWrapper {
  min-height: 100vh;
  background-color: var(--color-xcord-bg-tertiary);
  color: var(--color-xcord-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder {
  color: var(--color-xcord-text-muted);
}
