.replyPreview {
  padding: 0.5rem 0.75rem;
  background-color: var(--color-xcord-bg-primary);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid var(--color-xcord-bg-secondary);
}

.replyText {
  font-size: 0.875rem;
  color: var(--color-xcord-text-secondary);
}

.closeBtn {
  color: var(--color-xcord-text-muted);
  transition: color 150ms;
}

.closeBtn:hover {
  color: var(--color-xcord-text-primary);
}
